.button {
    padding:5px 10px;
    margin: 10px;
    margin-right: 5px;
    border-radius: 10px;
    border:none;
    & *{
        background:none;
        border:none;
        color: #fff;
        text-decoration: none;
    }
}

/* 作成ボタン */
.register{
    background-color: #4CAF50;
    &:hover{
        background-color: #388E3C;
    }
}

/* リンクボタン */
.link{
    background-color: #0d6efd;
    &:hover{
        background-color: #0b5ed7;
    }
}

.update{
    background-color: #009688;
    &:hover{
        background-color: #00796B;
    }
}

/* 削除 */
.delete{
    background-color: #F44336;
    &:hover{
        background-color: #D32F2F;
    }
}

.reset{
    background-color: #9E9E9E;
    &:hover{
    background-color: #757575;
    }
}

.button_group{
    display:flex;
    justify-content:right;
}