{% load static %}
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>タスク削除</title>
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
</head>
<body>
<header>
    <h1>タスク削除</h1>
</header>
<main>
    <div class="container">
        <table>
            <tr>
                <th class="left_corner">タスク名：</th>
                <td>{{ schedule.title }}</td>
            </tr>
            <tr>
                <th>説明（任意）：</th>
                <td>{{ schedule.description }}</td>
            </tr>
            <tr>
                <th>期限：</th>
                <td>{{ schedule.due_date|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th>進捗状況：</th>
                <td>{{schedule.get_status_display}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="button_group">
                        <form action="{% url 'schedules:delete' schedule.id %}" method="post">
                            {% csrf_token %}
                            <button class="button delete">
                                <input type="submit" value="削除">
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <button class="button link">
        <a href="{% url 'schedules:index' %}">タスク一覧へ戻る</a>
    </button>
</main>
</body>
</html>